/*{
    border: 3px blue dashed;
}
*/

@font-face {
    src: url("fonts/LabDJRVariable[SIZE\,BEVL\,OVAL\,SPRK\,QUAD\,XSWP\,YSWP].ttf") format("truetype"),
        url('fonts/LabDJRVariable[SIZE\,BEVL\,OVAL\,SPRK\,QUAD\,XSWP\,YSWP].woff2') format('woff2');

    font-family: 'Lab DJR';
    font-style: normal;
    font-weight: normal;
    }
    
    body{
    background-color: rgb(0, 0, 0);
    font-family: 'Lab DJR';
    color:rgb(0, 255, 17);
}

.history-paragraph{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    width: min(100% - 3rem, 80ch);
    margin-inline: auto;
}
/* how the page wrapper appears on desktop */

/* @media only screen and (min-width:800px){
.page-wrapper{
display: grid;
grid-gap: 25px;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "h v"
    "a a";
} */

.history {
grid-area: h;
}

.history-paragraph{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
}

.variations{
grid-area: v;
}

.alphabet {
grid-area: a;
}

/* CSS for the footer */
footer{
    background-color: gray;
}

/* variable font animation */
h1{
    font-size: 2em;
    color: aliceblue;
}
h3{
    color: rgb(0, 255, 0);
    font-weight:20; 
    text-align: center;
    font-size: 8em;
    animation: weightChange 7s infinite;
}


.l-hero {
    animation-delay: 1s; /* Adjusted delay to stagger properly */
}

.a-hero{
    animation-delay: 2s; /* Adjusted delay to stagger properly */
}
.b-hero{
    animation-delay: 3s; /* Adjusted delay to stagger properly */
}


.pattern-background{
    font-size: 40em;
    animation: weightChange 7s infinite;
}

@keyframes weightChange {
    0%{
        font-variation-settings: 
        'SIZE' 75, 
        'OVAL' 0,
        'BEVL' 10,
        'SPRK' 50; }
           50%{
        font-variation-settings: 
        'SIZE' 65, 
        'OVAL' 40, 
        'BEVL' 100,
        'SPRK' 200;
}
            80%{
    font-variation-settings: 
        'SIZE' 85, 
        'OVAL' 800, 
        'BEVL' 800, 
        'SPRK' 1000;
}

    
}
/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}
.special-character-wrapper {
    display: grid;
    grid-gap: 5px;
    color: rgb(0, 255, 0);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
    font-size: 160px;
}

.special-character-wrapper div {
    animation: weightChangeSpecialCharacter 6s infinite;
}

.special-character-wrapper div:nth-child(odd) {
    animation-delay: 1s; /* Adjusted delay to stagger properly */
}

.special-character-wrapper div:nth-child(even) {
    animation-delay: 2s; /* Adjusted delay to stagger properly */
}


@keyframes weightChangeSpecialCharacter {
    0%, 100% {
        font-variation-settings: 
        'SIZE' 75, 
        'OVAL' 0,
        'BEVL' 10,
        'SPRK' 50;    }
    50% {
        font-variation-settings: 
        'SIZE' 85, 
        'OVAL' 800, 
        'BEVL' 800, 
        'SPRK' 1000;
}    }
